.container2 {
  /* margin-top: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 40px 40px 40px;
  padding: 40px 40px 40px 40px;
}

.container2 .card {
  /* margin: 0 2% !important; */
  margin: 10px !important;
  padding: 10px !important;
}

.container2 .infected {
  border-top: 1px solid rgba(0, 0, 255, 0.5);
  border-left: 1px solid rgba(0, 0, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 255, 0.5);
}

.container2 .recovered {
  border-top: 1px solid rgba(0, 255, 0, 0.5);
  border-left: 1px solid rgba(0, 255, 0, 0.5);
  border-bottom: 1px solid rgba(0, 255, 0, 0.5);
}

.container2 .deaths {
  border-top: 1px solid rgba(255, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}
.container2 .card4 {
    border-top: 1px solid rgba(255,255,0,0.5);
    border-left: 1px solid rgb(255,255,0,0.5);
    border-bottom: 1px solid rgb(255,255,0,0.5);
  }
  .container2 .card5 {
    border-top: 1px solid rgb(255,0,255,0.5);
    border-left: 1px solid rgb(255,0,255,0.5);
    border-bottom: 1px solid rgb(255,0,255,0.5);
  }
  .container2 .content{
    text-align: center;
  }
  .container2 .name{
    color: #00008B;
    font-weight: bold;
    font-size: 26px;
  }

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
